body {
    background-color: black;
}

.search-form {
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    padding: 2px;
}

.loader {
    color: purple;
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%);
}

.error {
    color: #fff;
    font-size: 32px;
}

.pagination {
    display: flex;
    margin-bottom: 20px;
}

.page-btn {
    width: 45px;
    font-size: 20px;
    margin: 0px 2px;
}